/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}


.row{
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* regole di debug */
[class*="col-"] {
  float: left;
}

.margin-top{
  margin-top: 20px;
}

/* header */
.centra{
  padding-left: 10%;
  padding-right: 10%;
}

header {
  padding-top: 63px;
  background-color: white;
}

#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  background-color: white;
}

#navtablet{
  display: none;
}

/* degug */
#jumbo {
  padding-top: 50px;
  height: 600px;

  background-image: url(../img/helbiz-unlimeted-monopattini.jpg);
  background-size: cover;
  filter: brightness(80%);
  filter: contrast(70%);
  filter: saturate(80%);
}


/* regole corpo pagina */

.centra-sez1 {
  padding: 0 5%;
}

.centra-head-footer{
  padding-left: 12%;
  padding-right: 12%;
}

.hidedesk{
  display: none;
}


/* header */
.list li{
  display: inline-block;
  /* aggiungere border eng ita es */
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: black;
  font-size: 11px;
  float: right;
}
.list ul{
  margin-left: 50px;
}

#centred{
  text-align: center;
  color: white;
}

#centred > h1{
  font-size: 52px;
  margin-bottom: 60px;
  margin-top: 100px;
}

#centred > p{
  font-size: 20px;
  margin-bottom: 10px;
}

#centred > a{
  color: white;
  text-decoration: none;
}

#inline img{
  display: inline-block;
  height: 65px;
  max-width: 160px;
  margin-top: 10px;
}


#logo{
  margin-top: 20px;
  margin-bottom: 10px;
}

/* main */

#prodact{
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}

#prodact > p,
#prodact > a{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  text-decoration: none;
}

#imgold{
  background-image: url(../img/anziano.jpg);
  background-size: cover;
  height: 400px;
  margin-top: 30px;
}

#imglong{
  background-image: url(../img/scooter.f0a0397.jpg);
  background-size: cover;
  height: 500px;
  margin-bottom: 25px;
}

#imgright{
  background-image: url(../img/sfondo_info3.jpg);
  background-size: cover;
  height: 600px;
}

#imgleft{
  background-color: #334251;
  height: 600px;

}

.oldtextcentred{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;

}

.oldtextcentred > h1{
  font-size: 35px;
}

.middle{
  text-align: center;
  color: white;
}

.middle > h1{
  font-size: 52px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.middle > a{
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
}


#back{
  background-image: url(../img/pachwork.jpg);
  background-size: cover;
  height: 400px;
  margin-top: 20px;
  position: relative;
}

#hashtag{
  padding: 60px;
  background-color: white;
  font-size: 25px;
  width: 400px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hashtag i {
  display: inline-block;
  padding: 10px;
}


footer{
  background-color: black;
  color: white;
}

li{
  list-style: none;
}

.footmargin{
  margin-top: 150px;
  text-align: left;
  margin-bottom: 20px;
}

#logofoot{
  font-size: 30px;
  padding: 0;
  margin-top: 130px;
}

#secfootmargin{
  margin-top: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 30px;
  padding-bottom: 30px;
}

#hashtagfoot i{
  font-size: 20px;
  margin: auto 8px;
}

#appfoot img{
  display: inline-block;
  max-height: 65px;
  max-width: 160px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#appfoot {
  text-align: center;
}



/* dispositivi tablet */

@media all and (min-width: 769px) and (max-width: 992px){

  #navlarge{
    display: none;
  }

  .hidetablet{
    display: none;
  }

  header {
    padding-top: 0;
  }

  #secfootmargin{
    margin-top: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  .ended{
    margin-top: 20px;
    padding-bottom: 20px;
  }





}

@media all and (max-width: 768px){

  #navlarge{
    display: none;
  }


  .hidesmart{
    display: none;

  }

  header {
    padding-top: 0;
  }

  .centra{
    padding-left: 5%;
    padding-right: 5%;
  }

  .centra-head-footer{
    padding-left: 0;
    padding-right: 0;
  }

  #centred > h1{
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  #centred > p{
    font-size: 20px;
    margin-bottom: 10px;
  }

  #hashtag{
    padding: 30px;
    background-color: white;
    font-size: 18px;
    width: 220px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #imgleft{
    margin-bottom: 20px;
  }

  .footmargin{
    margin-top: 30px;
  }

  #secfootmargin{
    margin-top: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
