/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}


.row{
  width: 100%;
  min-height: 100px;

  border: 1px solid black;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* regole di debug */
[class*="col-"] {
  min-height: 100px;
  background-color: orange;
  border: solid 1px  #000;
  float: left;

}

/* header */
.centra{
  padding-left: 10%;
  padding-right: 10%;
}

header {
  padding-top: 100px;
  background-color: white;
}

#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}

#navtablet{
  display: none;
}

/* degug */
#jumbo {
  padding-top: 50px;
  height: 600px;
  border: 1px solid black;
  background-image: url(../img/helbiz-unlimeted-monopattini.jpg);
  background-size: cover;
}
/* degug */
.bc{
  background-color: yellow;
  padding-top: 50px;
  min-height: 300px;
  border: 1px solid black;
}

/* regole corpo pagina */

.centra-sez1 {
  padding: 0 5%;
}

.centra-head-footer{
  padding-left: 12%;
  padding-right: 12%;
}

.list li{
  display: inline-block;
  /* aggiungere border eng ita es */
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

#logo{
  margin-top: 20px;
  margin-bottom: 20px;

}

/* dispositivi tablet */

@media all and (min-width: 769px) and (max-width: 992px){

  #navlarge{
    display: none;
  }

  .hidetablet{
    display: none;
  }

  header {
    padding-top: 0;
  }

}

@media all and (max-width: 768px){

  #navlarge{
    display: none;
  }


  .hidesmart{
    display: none;

  }

  header {
    padding-top: 0;
  }

  .centra{
    padding-left: 5%;
    padding-right: 5%;
  }

  .centra-head-footer{
    padding-left: 0;
    padding-right: 0;
  }




}
